# bspwm build files
/build-bspwm/src
/build-bspwm/bspwm_*.changes
/build-bspwm/bspwm_*.deb
/build-bspwm/bspwm_*.dsc
/build-bspwm/bspwm_*.tar.gz
/build-bspwm/bspwm_*.tar.xz
/build-bspwm/bspwm_*.build
/build-bspwm/bspwm_*.upload

# sxhkd build files
/build-sxhkd/src
/build-sxhkd/sxhkd_*.changes
/build-sxhkd/sxhkd_*.deb
/build-sxhkd/sxhkd_*.dsc
/build-sxhkd/sxhkd_*.tar.gz
/build-sxhkd/sxhkd_*.tar.xz
/build-sxhkd/sxhkd_*.build
/build-sxhkd/sxhkd_*.upload

# physlock build files
/build-physlock/src
/build-physlock/physlock_*.changes
/build-physlock/physlock_*.deb
/build-physlock/physlock_*.dsc
/build-physlock/physlock_*.tar.gz
/build-physlock/physlock_*.tar.xz
/build-physlock/physlock_*.build
/build-physlock/physlock_*.upload

# polybar build files
/build-polybar/src
/build-polybar/polybar_*.changes
/build-polybar/polybar_*.deb
/build-polybar/polybar_*.dsc
/build-polybar/polybar_*.tar.gz
/build-polybar/polybar_*.tar.xz
/build-polybar/polybar_*.build
/build-polybar/polybar_*.upload

# Other temporary files
*.swp
