Source: physlock
Section: universe/x11
Priority: extra
Maintainer: Mikhail Nosov <drdeimosnn@gmail.com>
Build-Depends: debhelper, libpam0g-dev, libsystemd-dev
Standards-Version: 3.9.7
Homepage: https://github.com/muennich/physlock.git

Package: physlock
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Control physical access to a linux computer by locking all of its virtual terminals.
