Source: dunst
Section: universe/x11
Priority: extra
Maintainer: Mikhail Nosov <drdeimosnn@gmail.com>
Build-Depends: debhelper, libdbus-1-dev, libx11-dev, libxinerama-dev, libxrandr-dev, libxss-dev, libglib2.0-dev, libpango1.0-dev, libgtk-3-dev, libxdg-basedir-dev, libsystemd-dev, systemd
Standards-Version: 3.9.7
Homepage: https://github.com/dunst-project/dunst

Package: dunst
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Dunst is a highly configurable and lightweight notification daemon.
