Source: polybar
Section: universe/x11
Priority: extra
Maintainer: Mikhail Nosov <drdeimosnn@gmail.com>
Build-Depends: debhelper, libxcb-xinerama0-dev, cmake, libxcb-xkb-dev, libxcb-randr0-dev, libxcb-render-util0-dev, libxcb-icccm4-dev, libxcb-ewmh-dev, python-xcbgen, libiw-dev, libasound2-dev, libcurl4-openssl-dev, pkg-config, libcairo2-dev, libxcb-image0-dev, fontconfig, git, libxcb-util-dev, libpulse-dev, libxcb-cursor-dev, xcb-proto, libxcb-composite0-dev, libmpdclient-dev, i3-wm
Standards-Version: 3.9.7
Homepage: https://github.com/jaagr/polybar

Package: polybar
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Polybar aims to help users build beautiful and highly customizable status bars for their desktop environment, without the need of having a black belt in shell scripting.
